<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../template/head'); %>
</head>
<body class="container">

<header>
    
</header>

<main>
    <div class="jumbotron">
        <h1>Suivi</h1>
        <p>Bienvenue à Easytech</p>
    </div>
</main>

<footer>
    <%- include('../template/footer'); %>
</footer>

</body>
</html>